@mixin ButtonBG($bgColor: silver) {
	border: 1px solid black;
	user-select: none;
	cursor: pointer;
	background-color: $bgColor;
	transition: background-color 0.2s;
}

@mixin ButtonClickBG($bgColor: $ColorClick) {
	background-color: $bgColor;
	transition: background-color 0.2s;
}
